# Create a Postgres database on Vercel: https://vercel.com/postgres
POSTGRES_URL='somehthing else here'
POSTGRES_PRISMA_URL='somehthing else here'
POSTGRES_URL_NON_POOLING='somehthing else here'

# Generate one here: https://generate-secret.vercel.app/32 (only required for localhost)
AUTH_SECRET='somehthing else here'
NEXTAUTH_URL='somehthing else here'

NEWS_API_URL='somehthing else here'
NEWS_API_KEY='somehthing else here'
